page {
  background: #F3F5F4;
}

.index {
  flex-direction: column;
  width: 100%;
  padding-bottom: 170px;
  padding-top: 18px;

  .swiper {
    height: 330px;
  }

  .notice_swiper {
    height: 100px;
    margin: 20px 0;

    .notice {
      width: 100%;
      height: 100px;
      background: #FEF7E5;
      font-size: 28px;
      color: #F0741C;
      display: flex;
      align-items: center;
      padding-left: 30px;
      box-sizing: border-box;
    }
  }

  .container {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .header {
    font-size: 38px;
    font-weight: bold;
    margin-top: 30px;
  }

  .img_view {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    height: 320px;

    .img {
      width: 100%;
      border-radius: 30px;
      height: 320px;
    }
  }

  .page_bottom {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    padding: 20px 30px;
    display: flex;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    .desc {
      font-size: 24px;
      color: #666666;
    }

    .price {
      font-size: 42px;
      font-weight: bold;
      color: #D0021B;
      margin-left: 10px;
    }

    .right {
      display: flex;
      align-items: center;
    }

    .decoration {
      text-decoration: underline;
    }

    .send_button {
      padding: 15px 40px;
      background: #CE0801;
      border-radius: 15px;
      margin-left: 20px;

      text {
        font-size: 36px;
        font-weight: bold;
        color: #FFFFFF;
      }
    }
  }


}

