.index {
  flex-direction: column;
  width: 100%;

  .map {
    width: 100%;
    height: 100%;
  }

  .info {
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .info-header {
      padding: 20px;
      display: flex;
      box-sizing: border-box;

      .content {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        .title {
          font-size: 32px;
          font-weight: bold;
        }

        .desc {
          font-size: 26px;
          color: #999;
          margin-top: 10px;
        }
      }
    }

    .info-button {
      background-color: #4FC469;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-weight: bold;
    }
  }

}

